fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
kafka-python
python-jose[cryptography]
python-multipart
kafka-python
requests
prometheus-fastapi-instrumentator
pytest
httpx
pytest-mock
